.enr-flex,
.enr-flex-row,
.enr-flex-column,
.enr-flex-row-reverse,
.enr-flex-column-reverse {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}

.enr-flex,
.enr-flex-row {
  flex-direction: row;
}

.enr-flex-row-reverse {
  flex-direction: row-reverse;
}

.enr-flex-column {
  flex-direction: column;
}

.enr-flex-column-reverse {
  flex-direction: column-reverse;
}

.enr-flex-wrap {
  flex-wrap: wrap;
}

.enr-flex-nowrap {
  flex-wrap: nowrap;
}

.enr-flex-warp-reverse {
  flex-wrap: wrap-reverse;
}