.enr-h1,
h1.enr-h1,
.enr-style h1 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-block: 0.87rem;
  font-weight: 800;
  text-align: center;
}

.enr-h2,
h2.enr-h2,
.enr-style h2 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  margin-block: 0.94rem;
  font-weight: 700;
}

.enr-h3,
h3.enr-h3,
.enr-style h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-block: 1rem;
  font-weight: 600;
}

.enr-h4,
h4.enr-h4,
.enr-style h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-block: 1.02rem;
  font-weight: 600;
}

.enr-h5,
h5.enr-h5,
.enr-style h5 {
  font-size: 0.94rem;
  line-height: 1.14rem;
  margin-block: 1.42rem;
  font-weight: 600;
}

.enr-h6,
h6.enr-h6,
.enr-style h6 {
  font-size: 0.84rem;
  line-height: 1.04rem;
  margin-block: 2.12rem;
  font-weight: 600;
}