// 文本剧中
.enr-text-center {
  text-align: center;
}

// 文本靠右
.enr-text-right {
  text-align: end;
}

//小文本
.enr-text-small {
  font-size: 0.6rem;
}

/** 文本显示一行，超出点点点 */
.enr-text-in-one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.enr-text-in-one-line-hide {
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  word-break: break-all;
}

/** 文本显示两行，超出点点点 */
.enr-text-in-two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*  彩色字 */
.enr-color-text {
  color: transparent;
  background-image: linear-gradient(45deg, #ff0, #0f0, #f00, #0ff, #00f, #f0f, #ff0);
  background-position: 0% 0%;
  background-size: 400% 200%;
  background-clip: text;
  animation: 6s ease-in 0s infinite colorText alternate;
}

// 没有文本下划线
.enr-text-decoration-none {
  text-decoration: none;
}

.enr-text-decoration-style-solid {
  text-decoration-style: solid;
}

.enr-text-decoration-style-double {
  text-decoration-style: double;
}

.enr-text-decoration-style-dotted {
  text-decoration-style: dotted;
}

.enr-text-decoration-style-dashed {
  text-decoration-style: dashed;
}

.enr-text-decoration-style-wavy {
  text-decoration-style: wavy;
}

.enr-text-decoration-line-none {
  text-decoration-line: none;
}

.enr-text-decoration-line-underline {
  text-decoration-line: underline;
}

.enr-text-decoration-line-overline {
  text-decoration-line: overline;
}

.enr-text-decoration-line-line-through {
  text-decoration-line: line-through;
}

.enr-text-decoration-line-underline-line-through {
  text-decoration-line: line-through underline;
}

.enr-text-decoration-line-overline-line-through {
  text-decoration-line: line-through overline;
}

.enr-text-decoration-line-overline-underline {
  text-decoration-line: underline overline;
}

.enr-text-decoration-line-all {
  text-decoration-line: underline overline line-through;
}

@keyframes colorText {
  0% {
    background-position: 400% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}